@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomError</title>
</head>
<body>
    <div> 
        <h2>
            Error!<br />
            @Model.ActionName<br />
            @Model.ControllerName<br />
            @Model.Exception.Message<br />
        </h2>
    </div>
</body>
</html>
